.catalog {
  background-color: #EFF6F1;
  min-height: 860px;
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.catalog__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;

}

.catalog__blockItem {
  background: url(../images/fruit.svg) no-repeat;
  background-size: cover;
  max-width: 460px;
  width: 100%;
  min-height: 580px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog__blockItemButton {
  background: #FFFFFF;
  border-radius: 20px;
  max-width: 281px;
  width: 100%;
  min-height: 95px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.36px;
  color: #274C5B;
  border: 0;
}

.catalog__blockItem--food {
  background-image: url(../images/organicFood.svg);
}

.catalog__blockItem--cookies {
  background-image: url(../images/cookies.svg);
}