.header__menu {
  display: flex;
  justify-content: space-around;
  margin-top: 42px;
}

.header__menuItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 564px;
  margin-right: 150px;

}

.header__menuItems a,
.header__menuHumburgerItems a {
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.36px;
  color: #274C5B;
}

.header__menuItems a:focus {
  color: #7EB693;
}

.header__menuCart {
  display: flex;
  align-items: center;
  width: 159px;
  height: 70px;
  justify-content: space-evenly;
  border: 1px solid #D4D4D4;
  border-radius: 33px;

}
.header__menuCart span{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 29px;
letter-spacing: 0.36px;
color: #274C5B;

}
.header__menuHumburger{
  display: none;
  position: relative;
  right: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.header__menuHumburger span,.header__menuHumburger span::before, .header__menuHumburger span::after{
  width: 100%;
  position: absolute;
  height: 6px;
  background: #274C5B;
  display: block;
  transition: .3s;
  border-radius: 5px;
}
.header__menuHumburger span::before{
  content: "";
  top: -20px;
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.header__menuHumburger span{
  top: 20px;
}
.header__menuHumburger span::after{
  content: "";
  bottom: -20px;
  transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.header__menuHumburger span.active::before{
  content: "";
  top: 0px;
  transform: rotate(45deg);
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.header__menuHumburger span.active::after{
  content: "";
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.header__menuHumburger span.active{
  background: rgba(255, 255, 255, 0); 
}
.header__menuHumburgerItems{
  display: flex;
  flex-direction: column;
  width: 150px;
  height: auto;
  background: #F9F8F8;
  color: #ccc;
  position: fixed;
  padding: 10px;
  /*left: -320px;*/
  transition: left 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.header__menuHumburgerItems.animate{
  right: 0;
  top: 100px;
  display: none;
}





