.offers {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  flex-wrap: wrap;
  
}

.offers__natural {
  background: url(../images/fresh.svg) no-repeat;
  background-size: 100%;

}

.offers__offer {
  background: url(../images/vega.svg) no-repeat;
  background-size: 100%;

}

.offers__natural,
.offers__offer {
  max-width: 665px;
  width: 100%;
  min-height: 378px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid red;
}

.offers__naturalTitle1 {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 65px;
  letter-spacing: 0.36px;
  color: #FFFFFF;
  padding-left: 55px;
}

.offers__naturalTitle2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.36px;
  color: #FFFFFF;
  max-width: 300px;
  width: 100%;
  padding-left: 55px;
}

.offers__offerTitle1 {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 65px;
  letter-spacing: 0.36px;
  color: #7EB693;
  padding-left: 55px;
}

.offers__offerTitle2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.36px;
  color: #274C5B;
  max-width: 260px;
  width: 100%;
  padding-left: 55px;

}